# True for development, False for production
DEBUG=False

# Flask ENV
FLASK_APP=run.py
FLASK_ENV=development
SECRET_KEY=YOUR_SUPER_KEY

# If DEBUG=False (production mode)
DB_ENGINE=mysql
DB_NAME=iac_lab1
DB_HOST=dpg-clvhtp6d3nmc738d6820-a
DB_PORT=5432
DB_USERNAME=iac_lab1_user
DB_PASS=1UhvtKh5O1USdE6l4ijOTm8ASwfTr0Ls
